<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <div class="progress-wrapper">
        <div class="progress-label"></div>
        <progress></progress>
</div>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.svg" alt="" width="80">
        </a>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/notes">Notes</a>
        </nav>
    </header>
    <main>        
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}} | <a href="mailto:info@nightdoomer.com">@mail</a>| 2022</small>
        {% include 'schema.html' %}
    </footer>
</body>
</html>